
form #poruka {
    vertical-align: top;
    height: auto;
    grid-column: 1/3;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

.grid h2 {
    grid-column: 1/3;
    grid-row: 1;
}

.grid label {
    grid-row: 2;
    grid-column: 1/2;
}

.grid #contact {
    grid-column: 1/2;
    grid-row: 1;
}

.grid .mapa {
    grid-row: 1;
    grid-column: 2/3;
}

.mapa iframe{
    width: 100%;
    height: 30em;
}

.mapa {
    padding: 50px;
    margin: 10px;
}

.mapa label {
    font-size: 1.5em;
    color: purple;
    font-weight: bold;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 500 16px/16px 'Sulphur Point', sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 10%;
    margin: 10% 0;
    width: 100%;
}

h3 {
    color: purple;
    display: block;
    font-size: 30px;
    font-weight: 600;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 16px;
    font-weight: 500;
}

fieldset {
    border: medium none !important;
    margin: 0 0 5%;
    min-width: 60%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #0CF;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #09C;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

@media screen and (max-width: 1000px){
    .grid {
        display: block;
    }
    .container {
        width: 80%;
    }
    .mapa iframe{
        width: 100%;
        height: 20em;
    }
}

@media screen and (max-width: 700px){
    .container {
        width: 100%;
    }
    .mapa iframe{
        height: 15em;
    }
}


/* VALIDACIJA */
#contact input[type="text"].error,
#contact input[type="tel"].error,
#contact input[type="email"].error,
#contact textarea.error{
    border: 2px solid red;
}
