* {
    box-sizing: border-box;
    font-family: 'Sulphur Point', sans-serif;
    color: #777;
}

#abc {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto;
}

img#close {
    position: absolute;
    right: -14px;
    top: -14px;
    cursor: pointer
}

div#popupContact {
    position: absolute;
    left: 55%;
    top: 8%;
    margin-left: -202px;
    font-family: 'Raleway', sans-serif
}

form {
    width: 350px;
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: 'Sulphur Point', sans-serif;
    background-color: rgb(214, 214, 214)
}

input[type=text],input[type=tel],input[type=email] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding-left: 40px;
    font-size: 16px;
    font-family: 'Sulphur Point', sans-serif;
}

#name , #email {
    background-repeat: no-repeat;
}

#submit {
    margin-top: 5px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: block;
    background-color: rgb(123, 255, 118);
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* VALIDACIJA */
#form input[type="text"].error,
#form input[type="tel"].error,
#form input[type="email"].error{
    border: 2px solid red;
}

#form button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #0CF;
    color: #FFF;
    margin: 10px 0 5px;
    padding: 10px;
    font-size: 15px;
}

#form button[type="submit"]:hover {
    background: #09C;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#form button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
