@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Sulphur Point', sans-serif;
    color: #777;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.navbar-nav a {
    transition: all 1s;
}

.navbar-nav a:hover {
    color: #007BFF !important;
    transform: scale(1.2);
}

/* todo FOOTER */
.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
    
}

.main-footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: left;
}

.main-footer-container .band-name {
    grid-column: 1/2;
}

.main-footer-container .footer-nav {
    grid-column: 3/4;
}

.footer-nav li {
    display: block;
    padding: 0 1em;
    text-align: left;
}

.footer-nav img {
    width: 35px;
    height: 35px;
}

/*Zavrsio heder i futer*/

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}
.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.content-section img {
    margin: 0%;
}

.tour-row {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 1em;
    font-size: 16pt;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.fa {
    display: inline-block;
    font-family: 'Sulphur Point', sans-serif;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa {
    display: inline-block;
    font-family: 'Sulphur Point', sans-serif;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    text-align: center;
}

.slika {
    background-image: url('../img-index/office.jpg');
    height: 600px;
    max-width: 100%;
}

.centar {
    text-align: center;
    vertical-align: middle;
    margin: 0 0%;
}


@media screen and (max-width: 850px){
    .main-footer .band-name{
        display: none;
    }
    .main-footer-container {
        display: block;
        margin: auto;
        text-align: center;
    }
}